.ls {
  width: 100%;
  height: 100%;
  background-color: #5e0080; /* or whatever theme you're using */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.ls-top {
  padding: 20px;
}

.ls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls-nav .logo {
  max-width: 140px;
}

.ls-nav .menu {
  position: relative;
  padding: 10px 0;
}

.ls-nav .menu img {
  max-height: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.menu .sub-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
  z-index: 10;
}

.sub-menu hr {
  border: none;
  height: 1px;
  background: #a4a4a4;
  margin: 8px 0;
}

.sub-menu p {
  cursor: pointer;
  font-size: 14px;
  padding: 6px 0;
}

.sub-menu p:hover {
  background-color: #f0f0f0;
}

.ls-search {
  background-color: #ac199f;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-top: 20px;
  border-radius: 8px;
}

.ls-search img {
  width: 16px;
}

.ls-search input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 12px;
  flex: 1;
}

.ls-search input::placeholder {
  color: #c8c8c8;
}

.ls-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 10px;
  padding: 10px;
  gap: 10px;


}

/* Individual friend item */
.friends {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.friends img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.friends div {
  display: flex;
  flex-direction: column;
}

.friends span {
  color: #9f9f9f;
  font-size: 11px;
  margin-top: 2px;
}

.friends:hover {
  background-color: #7d388b;
  border-left: 4px solid #ffffff20;
}

.friends:hover span {
  color: white;
}

.friends.border img {
  border: 3px solid #07fff3;
}

.friends.border div span {
  color: #07fff3;
}

.friends.unseen {
  background-color: #e6f0ff;
  border-left: 4px solid #077EFF;
  font-weight: bold;
}


.add-user .add-icon {
  width: 25px;
}

.ls button {
  margin: 20px auto;
  background-color: #2196f3;
  border: none;
  padding: 10px 24px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.ls button:hover {
  background-color: #1976d2;
}

@media (max-width: 900px) {
  .ls {
    width: 100%;
    height: auto;
    max-width: none;
  }
}
.add-user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #690082;
  color: white;
  border-radius: 10px;
  margin: 0 10px;
}

.add-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

