.login {
  min-height: 100vh;
  background: url(/background.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login .logo {
  width: max(40vw, 400px);
}

.login-form {
  background: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.login-form h2 {
  font-weight: 500;
}

.form-input {
  padding: 8px 10px;
  border: 1px solid #C9C9C9;
  border-radius: 4px;
  outline-color: #113b97;
}

.login-form button {
  padding: 10px;
  background-color: #3386d4;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-term {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #808080;
  margin-top: -10px;
}

.login-term input[type="checkbox"] {
  transform: scale(1.1);
  cursor: pointer;
}

.login-term label {
  cursor: pointer;
}

.login-toggle {
  font-size: 13px;
  color: #5C5C5C;
}

.login-toggle span {
  font-weight: 500;
  color: #4b40e0;
  cursor: pointer;
}

.login-forgot {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 768px) {
  .login {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
